/*start reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Finish Reset*/

/* Colors */

:root {
    --dark-cyan: #19a2ae;
    --very-dark-desaturated-blue: #2d3248;
    --dark-grayish-blue: #6a6f81;
    --dark-gray: #969696;
}

/*General Styles*/

body {
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.125rem;
}

/*Container*/
.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    max-width: 1440px;
}

/*Background Images*/

.container .bg-top {
    position: absolute;
    top: -35rem;
    left: -45rem;
    z-index: -1;
}

.container .bg-bottom {
    position: absolute;
    bottom: -35rem;
    right: -45rem;
    z-index: -1;
}

/*Profile Card*/

.container .card {
    border-radius: 15px;
    background-color: #FFF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 1.5;
    position: relative;
    height: auto;
    width: 18.75rem;
}
/*Card - Banner image*/
.container .card .banner-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    height: auto;
    width: 100%;
}
/*Card - Profile Image*/
.container .card .profile-image {
    width: 90px;
    border-radius: 50%;
    border: 4px solid hsl(0, 0%, 100%);
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    clip-path: circle(50px at center);
}
/*Card- Name and age*/
.container .card  h1 {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}

.container .card h1 .number-age {
    color: var(--dark-grayish-blue);
    font-weight: 400;
}

/*Card - City*/

.container .card p {
    color: var(--dark-grayish-blue);
}

/*Card - Account Info*/

.container .card .net-info {
    border-top: 1px solid #99969652;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem 0 1rem 0;
    width: 100%;
}

.container .card .net-info .info h2{
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
}

.container .card .net-info .info .type-info {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 1rem;
}

/*Attribution*/

.container .attribution {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1.4;
    text-align: center;
    padding: 0.5rem 0;
    margin: 1rem 0 0 0;
    width: 100%;
}

@media (min-width: 675px) { 
    .container .bg-top {
        position: absolute;
        top: -35rem;
        left: -40rem;
        z-index: -1;
    }
    
    .container .bg-bottom {
        position: absolute;
        bottom: -37rem;
        right: -39rem;
        z-index: -1;
    }
}

@media (min-width: 830px) {
    .container .bg-top {
        position: absolute;
        top: -35rem;
        left: -35rem;
        z-index: -1;
    }
    
    .container .bg-bottom {
        position: absolute;
        bottom: -38rem;
        right: -33rem;
        z-index: -1;
    }
}

@media (min-width: 985px) {
    .container .bg-top {
        position: absolute;
        top: -35rem;
        left: -30rem;
        z-index: -1;
    }
    
    .container .bg-bottom {
        position: absolute;
        bottom: -39rem;
        right: -27rem;
        z-index: -1;
    }
}

@media (min-width: 1165px) {
    .container .bg-top {
        position: absolute;
        top: -35rem;
        left: -25rem;
        z-index: -1;
    }
    
    .container .bg-bottom {
        position: absolute;
        bottom: -40rem;
        right: -20rem;
        z-index: -1;
    }
}

@media (min-width: 1325px) {
    .container .bg-top {
        position: absolute;
        top: -35rem;
        left: -15rem;
        z-index: -1;
    }
    
    .container .bg-bottom {
        position: absolute;
        bottom: -41rem;
        right: -15rem;
        z-index: -1;
    }
}