// Colors
$background-color: hsl(185, 75%, 39%);
$font-primary-color: hsl(229, 23%, 23%);
$font-secondary-color: hsl(227, 10%, 46%);
$line-division-color: hsl(0, 0%, 59%);

// Font weight

$font-weight: ("light": 400, "bold": 700);